/* CSS Custom MACHLO 
	color  #cd167b
	light  #ed1b59
	medium #766A5A
*/
:root {
  --main-color: #fbad18;
  --main-color-light: #FBD48A;
  --main-color-medium: #23bdc3;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0.8;
	background: url(../img/preloader.gif) center no-repeat #fff;
}
.site-logo {
    padding: 15px 0;
}
.btn-primary, .add-to-cart {
    background-color: var(--main-color);
}
.btn-primary:hover, .add-to-cart:hover {
    background-color: var(--main-color-light);
}
.toolbar .inner > a .count, .toolbar .inner > .cart-btn .count {
    background-color: var(--main-color);
}
.text-primary {
    color: var(--main-color-light);;
}
.footer button[type='submit']:hover {
    color: var(--main-color-light);
}
.footer .subscribe-form .form-control:focus {
    border-color: var(--main-color);
}
.form-control:focus {
    border-color: var(--main-color);
}
.primary-color {
	color: var(--main-color);
}
.primary-color-light {
	color: var(--main-color-light);
}
.iradio.checked {
    border-color: var(--main-color);
}
.nav-filters>li>a:hover {
    color: var(--main-color-light);
}
.white-text {
	color: white !important;	
}
.orange-text {
	color: var(--main-color) !important;	
}
.blu-text {
	color: var(--main-color-medium) !important;	
}
.text-24 {
	font-size: 24px;
}
.text-big {
	font-size: 32px;
}
.text-30 {
	font-size: 30px;
}
.text-big-camille {
	font-size: 60px;
	font-family: camille;
}
@font-face {
    font-family: camille;
    /*src:url("../fonts/camille.ttf");*/
	src:url("../fonts/rodrigues.ttf");
}
.camille {
    font-family: camille;
}
.has-error {
  color: #b94a48 !important;
  /*border-color: #b94a48 !important;
  /border: 1px solid #b94a48 !important;*/
}
.text-danger {
    color: #a94442 !important;
}
@font-face {
    font-family: 'gara';
    src:url('../fonts/gara.ttf.woff') format('woff'),
        url('../fonts/gara.ttf.svg#gara') format('svg'),
        url('../fonts/gara.ttf.eot'),
        url('../fonts/gara.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}