/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
/*  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Garamond', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #666;
}
p {
  font-size: 22px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #23bdc3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
 /* background: #18BC9C;*/
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: 'Garamond', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
.dropdown-menu>li>a {
    padding: 7px 20px;
}
.carousel {
    min-height: 300px !important; 
}
.carousel-control {
	background-image:none !important;
}
.carousel-caption {
	text-shadow:none;
	min-height: 250px;
}
.carousel-inner>.item {
	min-height: 300px !important; 
}
.listaFaq {
	font-size: 22px !important;
}
.topNavSpacer {
	margin-top: 250px;
}
.topNavSpacerBig {
	margin-top: 300px;
}
.navbar-custom {
  /*background: #2C3E50;*/
  background: none;
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: #666;
 /* color: #23bdc3;*/
}
.navbar-custom .navbar-nav li a:hover {
  color: #fbad18;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: #666;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  /*color: white;
  border-color: white;*/
  color: #B7B4B4;
  text-transform: uppercase;
  font-size: 30px;
  margin-top:20px;
  border: 0px !important;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: transparent;
  color: #B7B4B4;
  border-color: #B7B4B4;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #666;
    background-color: transparent !important;
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
.section-half {
	padding: 50px 0;
}
.section-quarter{
	padding: 25px 0;
}
.section-zero{
	padding: 0;
}
section.success {
  background: #18BC9C;
  color: white;
}
.section-loto {
	background-image:url(../img/br_loto_repeat.png);
	/*background-repeat: repeat-x;*/
	color:white;
}
.section-loto p, .section-loto p {
	font-size:60px;
	line-height:1;
	font-family: camille;
}
.section-rombi {
	background-image:url(../img/br_rombi_repeat.png);
/*	background-repeat: repeat-x;*/
	color:white;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: #23bdc3;
  font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: none;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px #23bdc3;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #23bdc3;
  background: white;
  border: solid 2px #23bdc3;
}
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #23bdc3;
  border-color: #23bdc3;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #fbad18;
  border-color: #fbad18;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #18BC9C;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
}
.show-onmobile {
	visibility:hidden; 
}
.hide-onmobile {
	visibility:visible; 
}
.logo-nav-img {
	height:200px;
}
.headline {
	margin-top: 300px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted#ccc;
}
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0; 
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
}
.navbar-fixed-top { position: absolute!important; }
.privacy-ul li {
	text-align: left;
	font-size: 18px;
}
.trattamenti-ul {
	list-style: none;
	padding:0;
}
.trattamenti-ul li {
	/*text-align: center;*/
	font-size: 22px;
	padding:5px;
	font-weight: 700;
	/*color: var(--main-color-medium) !important;*/
}
.trattamenti-ul li a {
	color: var(--main-color) !important;
}
.trattamenti-ul li img {
	padding-right:15px
}
.benefici-ul {
	list-style: none;
	padding:0;
}
.benefici-ul li {
	/*text-align: center;*/
	font-size: 22px;
	padding:5px;
	/*color: var(--main-color-medium) !important;*/
}
.benefici-ul li a {
	color: var(--main-color) !important;
}
.benefici-ul li img {
	padding-right:15px
}
.header-image-blank {
	display: block;
	text-align: center;
	width: 100%;
}
.header-image-blank-mobile {
	display: block;
	text-align: center;
	width: 100%;
	display:none;
}
.headline-blank {
	margin-top: 0px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline;
}
/* PC */
@media (min-width: 768px) {
 header .container {
    /*padding-top: 200px;*/
	padding-top: 350px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }	
  .navbar-custom {
    padding: 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
  .rwd-break { display: none; }
	.navbar-brand {
		transform: translateX(-50%);
		left: 50%;
		position: absolute;
	}
	.navbar .navbar-collapse {
		text-align: center;
		margin-top: 260px;
	}
	.servicios-img {
		margin-top:220px;
		margin-bottom:10px;	 
		transform: translateX(-50%);
		left: 50%;
		position: absolute;
	}	
	.header-image {
	/*	background: rgba(0, 0, 0, 0) url("../img/1950_500.png") no-repeat scroll center center / cover ;*/
		display: block;
		text-align: center;
		width: 100%;
	}
	.hide-on-mobile {
		display: block !important;
	}
	.show-on-mobile {
		display: none !important;
	}
	.carousel-caption-text {
  		font-size: 20px !important;
		text-align: justify !important;
  	}
    .carousel-caption-header {
  		font-size: 20px !important;
		font-weight:bold !important;
   }
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
/* Tablet portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	 .show-onmobile {
	visibility:visible !important; 
  }
  .hide-onmobile {
	visibility:hidden !important; 
  }
   .container {
     width: 768px;
   }
   header .container {
    padding-top: 150px;
    }
	.headline {
    margin-top: 260px;
    }
	/* Styles */	
  .logo-nav-img {
	height:130px !important;
  }
  .topNavSpacerBig {
    margin-top: 250px !important;
   }
  .servicios-img {
	margin-top:180px !important;
	margin-bottom:0px !important;
	padding-right:5%;
	padding-left:5%;
	width: 100% !important;	 
  }
  .navbar-collapse {
	background-color: #e7e7e7;
	/*background-color:rgba(211, 211, 211, 0.9);*/
  	max-height: 1200px !important;
	margin-top: 10px;
	text-align: center;
  }	
  .navbar-custom .navbar-toggle {
    color: #B7B4B4;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 50px;
    border: 0px !important;
}
.navbar .navbar-collapse {
    text-align: center;
    margin-top: 100px;
}
/*toggle breakpoit at 778*/
     .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
		font-size:20px;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .collapse.in{
        display:block !important;
    }
	.dropdown-menu>li>a {
		font-weight: 500;
		font-size: 18px;
	}
	
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	}
}
/* Smartphone */
@media (max-width: 767px) {
  .navbar-brand {
    padding: 15px 0px 0px 0px !important;
  }	
  .navbar-brand {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
  }
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
  .navbar-collapse {
	background-color: #e7e7e7;
	/*background-color:rgba(211, 211, 211, 0.9);*/
  	max-height: 1200px !important;
	margin-top: 0px;
	text-align: center;
  }	
  header .container {
    padding-top: 500px;
  }
  .headline {
    margin-top: 120px !important;
  }
  .show-onmobile {
	visibility:visible !important; 
  }
  .hide-onmobile {
	visibility:hidden !important; 
  }
  .servicios-img {
	margin-top:20px !important;
	margin-bottom:0px !important;
	padding-right:5%;
	padding-left:5%;
	width: 100% !important;	 
  }
  .logo-nav-img {
	width:80px !important;
	height:80px !important;
  }
  /*.header-image {
	background: rgba(0, 0, 0, 0) url("../img/580_700.png") no-repeat scroll center center / cover ;
	display: block;
	text-align: center;
	width: 100%;
  }*/
  .hide-on-mobile {
  	display: none !important;
  }
  .show-on-mobile {
  	display: block !important;
  }
  .aria-fresca {
		background: rgba(0, 0, 0, 0) url('../img/programmi/580_700_aria_fresca.png') no-repeat scroll center center / cover ;
	}
  .carousel-caption h1 {
  	font-size: 22px !important;
  }
  .carousel-caption-text {
  	font-size: 14px !important;
	text-align: justify !important;
  }
  .carousel-caption-header {
  	font-size: 16px !important;
  }
  .carousel-caption h1 {
  	font-size: 18px !important;
  }
  .topNavSpacerBig {
    margin-top: 110px !important;
  }
  .flower-divider {
  	width: 100% !important;
  }
  .header-image-blank {
	display: block;
	text-align: center;
	width: 100%;
	display:none;
  }
  .header-image-blank-mobile {
	display: block;
	text-align: center;
	width: 100%;
  }
}
/* Iphone 5 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-brand {
/*    padding: 20px 5px 0px 0px !important;*/
  }	
  .logo-nav-img {
/*	height:50px !important;*/
  }
   .navbar-custom .navbar-toggle {
    color: #B7B4B4;
    text-transform: uppercase;
    font-size: 25px !important;
    margin-top: 20px !important;
    border: 0px !important;
	}
	.header-image {
	background: rgba(0, 0, 0, 0) url("../img/580_700.png") no-repeat scroll center center / cover ;
	display: block;
	text-align: center;
	width: 100%;
  }
  header .container {
    padding-top: 400px;
	}
	.aria-fresca {
		background: rgba(0, 0, 0, 0) url('../img/programmi/580_700_aria_fresca.png') no-repeat scroll center center / cover ;
	}
	.text-big-camille {
		font-size: 70px !important;
	}
}
/* nexus */
@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
  .navbar-brand {
    padding: 15px 25px 0px 0px !important;
  }	
  .logo-nav-img {
	height:60px !important;
  }
   .navbar-custom .navbar-toggle {
    color: #B7B4B4;
    text-transform: uppercase;
    font-size: 25px !important;
    margin-top: 20px !important;
    border: 0px !important;
	}
	.header-image {
	background: rgba(0, 0, 0, 0) url("../img/580_700.png") no-repeat scroll center center / cover ;
	display: block;
	text-align: center;
	width: 100%;
  }
  header .container {
    padding-top: 500px;
	}
	.aria-fresca {
		background: rgba(0, 0, 0, 0) url('../img/programmi/580_700_aria_fresca.png') no-repeat scroll center center / cover ;
	}
}
